* text=auto
.gitattributes text eol=lf
.gitignore text eol=lf
*.json text eol=lf
*.md text eol=lf
*.conf text eol=lf
*.ps1 text eol=lf
*.toml text eol=lf
*.sh text eol=lf
*.yml text eol=lf
*.yml.example text eol=lf
*.yaml text eol=lf
*.py text eol=lf
