[defaults]
inventory = inventory/hosts.yml
collections_path = .ansible/collections
host_key_checking = True
interpreter_python = auto_silent
retry_files_enabled = False
# CUSTOMIZE: SSH connection timeout in seconds.
timeout = 15

[ssh_connection]
pipelining = True
